.address {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: all 200ms;

    &:hover {
      filter: opacity(0.5);
    }
  }
}